# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 4

[*.gd]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 4

[*.{sln,csproj,cs,config,xml,props}]
charset = utf-8-bom
